@import 'colors';
// @import '../../variables';
@import 'mixins';
@import 'functions';

@mixin dark-theme {
  $base-theme: (main-background-application: $main-background-application-dark,
      text-primary: $ui-text-primary-dark,
      text-color: $text-color-dark,
      text-title: $text-title-dark);

  $component-colors: (nav-bar-bg: $nav-bar-bg-dark,
      nav-link: $ui-primary-light-50,
      nav-link-active: $ui-primary-light-90,
      nav-bar-togller-border: $nav-bar-togller-border-dark,
      nav-bar-togller-bg: $nav-bar-togller-bg-dark,
      background-card: $background-card-dark,
      card-border-color: $card-border-color-dark,
      main-background-form-control: $main-background-form-control-dark,
      border-hover-focus-black-02: $border-hover-focus-black-02-dark,
      border-black-006: $border-black-006-dark);

  #{if(&, '&', ':root')} {

    // Either include them at :root context or global
    @each $key,
    $value in map-merge-all($base-theme, $component-colors) {
      @include custom-prop(--#{$key}, $value);
    }
  }
}
