$card-background: var(--background-card);
$card-border-color: var(--card-border-color);
$card-corners: $ui-corner-radius-md;

.ui-card {
  background-color: $card-background !important;
  border: 1px solid $card-border-color;
  border-radius: $card-corners !important;
}

.ui-card-header {
  border-bottom: 1px solid $card-border-color;
  color: var(--text-primary);
  border-top-left-radius: $card-corners !important;
  border-top-right-radius: $card-corners !important;
}

.ui-card-body {
  color: var(--text-primary);
}
